main {
    margin: 10%;
    width: 80%;
    height: 300px;
    border: 3px dashed purple;
    border-radius: 1.5%;
}

div {
    position: relative;
    top: 20px;
    height: 80px;
    padding: 10px;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#lorem {
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 20px;
    height: 80px;
    padding: 10px;
    background-color: blueviolet;
}

#square {
    position: fixed;
    top: 185px;
    left: 170px;
    width: 100px;
    height: 100px;
    background-color: silver;
}

#a {
    top: 25px;
}

#circle {
    width: 20px;
    height: 20px;
    background-color: silver;
    border: 1px solid silver;
    border-radius: 50%;
    left: 110px;
}